
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 28px 0 rgba(90,60,122,.22);
    border-radius: 50px;
    padding: 0 10px;
    margin-left: 5px;
    @media screen and (max-width: 500px) {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        margin: 5px;
        height: 60px;
        box-shadow: 0 1px 18px 0 rgba(90,60,122,.22);
    }
}